target/**
kvcluster/*/target/**
deployment/.vagrant/*
*.log
*.retry
kvcluster/.idea/*
kvcluster/.idea/workspace.xml
kvcluster/kvcluster-client/kvcluster-client.iml
kvcluster/kvcluster-core/kvcluster-core.iml

