akka {
  actor {
    provider = "cluster"
    serializers {
      proto = "akka.remote.serialization.ProtobufSerializer"
      java = "akka.serialization.JavaSerializer"
    }
    serialization-bindings {
      "java.lang.String" = java
      "com.emnify.kvcluster.messages.Message" = java
    }
  }
  remote {
    enabled-transports = ["akka.remote.netty.tcp"]
    log-remote-lifecycle-events = off
    netty.tcp {
      hostname = {{ host_name }},
      port = 2551
    }
  }
  cluster {
    seed-nodes = [ {{ seed_nodes }} ]
    roles = ["storage"]
    auto-down-unreachable-after = 10s
    sharding {
      role = "storage"
    }
  }
}

